body{
        margin: 0 auto;
        width:960px;
        background:rgb(52, 37, 135);
}

#sayacbtn{
    background-color: green;
    position: relative;
    height: 25em;
    width: 25em;
    border-radius: 30em;
    margin-top: 300%;
    margin-left: 200%;
    margin-right:200%;
    border: 3px solid black;
    text-align: center;
    
}

#resetbtn{
    background-color: green;
    font-weight: bold;
    width: 25em;
    height: 5em;
    border-radius: 25em;
    border: 3px solid black;
    margin-top: 17%;
    margin-top: 600%;
    margin-left: 200%;
    margin-right: 200%;
}

#resetbtn:active{
    background-color: rgb(0, 104, 0);
    color: black;
}

#number{
    color: black;
    position: absolute;
    font-size: 60px;
    bottom: 190px;
    right: 195px;
    text-align: center;
}
